<!DOCTYPE html>
<html>
  <head>
    <title>Teraflops LLC ⋆ IT consulting and development</title>
    <meta content="en" name="language">
    <meta name="description" content="Update your servers fast">
    <meta name="keywords" content="ssh, development, javascript, servers, tool, devops, deploy">
    <meta content="follow, index, all" name="robots">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta property="og:title" content="Teraflops LLC ⋆ IT consulting and development">
    <meta property="og:description" content="Teraflops LLC ⋆ IT consulting and development">
    <meta property="og:site_name" content="Teraflops">
    <meta property="og:image" content="https://yigis.com/public/logo.png">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  </head>
  <body>
    <div id="root"></div>
    <div class="preloader"></div>
    <script src="/dist/bundle.js" charset="utf-8"></script>
  </body>
</html>
