@import '../../../variables'

.Main
  box-sizing: border-box
  height: calc(100vh - 50px)
  max-height: calc(100vh - 50px)
.Menu
  background-color: #f8f8f8
  height: 100%
  padding: 1em
  box-shadow: 0 0 2rem -0.5rem #cccccc
  &Box
    padding: 1em
    font-size: 1.2em
    &__title
      font-weight: 700
      padding: 1em 0
    &__element
      display: flex
      padding: 0 0 0.5em 0
      color: #212121
      align-items: baseline
      &--active
        font-weight: 700
      .lnr
        padding-right: 0.25em
        font-size: 0.9em
.Dashboard
  padding: 2rem
  overflow-y: scroll
.Chart
  &List
    display: grid
    grid-gap: 1rem
    grid-template-columns: repeat(3, 1fr)
    margin: 1rem 0
  &Item
    height: 100px
    &__title
      font-weight: 600
.Wallet
  &Container
    display: grid
    grid-template-columns: minmax(300px, 2fr) 5fr
    grid-gap: 1rem
    > div
      min-height: 200px
      box-shadow: 0 0 2rem -0.5rem #cccccc
      background-color: #ffffff
      border-radius: 0.5rem
  &Form
    padding: 1rem
  &Transactions
    padding: 1rem
.Currency
  &Item
    background-color: #ffffff
    box-shadow: 0 0 2rem -0.5rem #cccccc
    display: grid
    align-content: center
    padding: 1rem
    grid-template-areas: 'icon heading' 'icon price'
    grid-template-columns: 40px auto
    border-radius: 0.5rem
    &__icon
      grid-area: icon
      align-self: center
      max-width: 25px
      max-height: 25px
    &__heading
      grid-area: heading
      margin: 0
    &__price
      grid-area: price
  &Filter
    position: relative
    input
      border: none
      width: 100%
      padding: 1rem 2rem 0.7rem 2rem
      outline: none
      background-color: transparent
      box-sizing: border-box
      border-bottom: 1px solid #e8e8e8
    span
      position: absolute
      top: 1rem
      left: 0.5rem
      pointer-events: none
  &List
    &__wrapper
      margin-top: 1rem
      display: grid
      height: 50px
      grid-gap: 1em
      grid-template-columns: repeat(5, 1fr)
.MainHeading
  margin: 1em 0
  h2
    margin: 0
  span
    font-size: 0.7rem
    font-weight: 300
.Input
  position: relative
  label
    position: absolute
    left: 1rem
    top: 1rem
    pointer-events: none

  input
    width: 100%
    padding: 1rem 1rem 0.5rem 1rem
    box-sizing: border-box
    border: none
    outline: none
    border-bottom: 1px solid #e8e8e8
.Button
  &--group
    display: grid
    grid-template-columns: auto
    grid-gap: 0.5rem
    grid-auto-flow: column
  &--between
    justify-content: space-between
  &--margin-vertical
    margin: 1rem 0
  button
    border: none
    padding: 1em
    outline: none
    opacity: 1
    transition: 0.3s
    cursor: pointer
    &:hover
      opacity: 0.8

  //&List
  //  display: grid
  //  grid-template-areas: 'case1 case2 case2' 'case1 case3 case4' 'case5 case5 case4'
  //&Card
  //  padding: 1em
  //  background-color: #fff
  //  border-radius: 3px
  //  min-height: 200px
  //  @for $i from 1 through 6
  //    &:nth-of-type(#{$i})
  //      grid-area: case#{$i}

.Quests
  padding: 1rem
  &__heading
    font-size: 1rem
    font-weight: 700
    padding: 1rem
  &__list
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 1rem
.Quest
  background-color: #ffffff
  min-height: 200px
  padding: 1em
  display: grid
  grid-template-rows: auto auto 30px
  box-shadow: 0 0 2rem -1rem #cccccc
  &__heading
    font-weight: 700

@media screen and (max-width: 1280px)
  .Quests
    &__list
      grid-template-columns: 1fr 1fr 1fr

@media screen and (max-width: 1024px)
  .Quests
    &__list
      grid-template-columns: 1fr 1fr
  .Main
    display: block
  .Menu
    display: none
  .Currency
    &List
      &__wrapper
        grid-template-columns: repeat(2, 1fr)
  .Wallet
    &Container
      grid-template-columns: 1fr

@media screen and (max-width: 768px)
  .Chart
    display: none
  .Currency
    &List
      &__wrapper
        grid-template-columns: 1fr
  .Quests
    &__list
      grid-template-columns: 1fr